footer.bg-secondary
  include _social-links.pug

  .container.pt-2
    .row

      // Index

      .col-12.col-md-4.d-flex.flex-column.align-items-start
        h6.mb-2.mt-3.text-primary Index

        a(href='#home').mb-1.text-light.js-nav-link Home
        a(href='#about-us').mb-1.text-light.js-nav-link About Us
        a(href='#our-menu').mb-1.text-light.js-nav-link Our Menu
        a(href='#reviews').mb-1.text-light.js-nav-link Reviews
        a(href='#instagram-feed').mb-1.text-light.js-nav-link Instagram Feed
        a(href='#contact-us').mb-1.text-light.js-nav-link Contact Us


      // Libraries

      .col-12.col-md-4.d-flex.flex-column.align-items-start
        h6.mb-2.mt-3.text-primary Libraries

        a(href='https://jquery.com/', target='_blank').mb-1.text-light jQuery
        a(href='https://getbootstrap.com/', target='_blank').mb-1.text-light Bootstrap
        a(href='https://fontawesome.com/', target='_blank').mb-1.text-light Font Awesome
        a(href='https://daneden.github.io/animate.css/', target='_blank').mb-1.text-light Animate.css
        a(href='http://imakewebthings.com/waypoints/', target='_blank').mb-1.text-light Waypoints
        a(href='https://fonts.google.com/', target='_blank').mb-1.text-light Google Fonts


      // Credits

      .col-12.col-md-4.d-flex.flex-column.align-items-start
        h6.mb-2.mt-3.text-primary Credits

        a(href='https://pixabay.com/en/coffee-coffee-machine-coffee-maker-1867659/', target='_blank').mb-1.text-light
          | Coffee, Coffee Machine, Coffee Maker, Cups

        a(href='https://www.freepik.com/free-photo/coffee-beans-close-up_992564.htm', target='_blank').mb-1.text-light
          | Coffee Beans Close Up

        a(href='https://www.freepik.com/free-vector/crowns-icons_962839.htm', target='_blank').mb-1.text-light
          | Crowns Icons

        a(href='https://www.freepik.com/free-vector/twelve-vintage-frames_993367.htm', target='_blank').mb-1.text-light
          | Twelve Vintage Frames

        a(href='https://www.freepik.com/free-vector/hand-drawn-coffee-shop-elements_1389343.htm', target='_blank').mb-1.text-light
          | Hand Drawn Coffee Shop Elements

        a(href='https://www.freepik.com/free-photo/images-of-coffee-cups-placed-in-a-box_999838.htm', target='_blank').mb-1.text-light
          | Images of Coffee Cups Placed in a Box

        a(href='https://www.freepik.com/free-photo/people-with-paper-bags_1396947.htm', target='_blank').mb-1.text-light
          | People with Paper Bags

        a(href='https://freesound.org/people/monte32/sounds/361427/', target='_blank').mb-1.text-light
          | Wind Chimes

        a(href='https://freesound.org/people/timgormly/sounds/162801/', target='_blank').mb-1.text-light
          | Wind-up 1

        a(href='https://freesound.org/people/timgormly/sounds/162806/', target='_blank').mb-1.text-light
          | Wind-up 2

        a(href='https://freesound.org/people/timgormly/sounds/162807/', target='_blank').mb-1.text-light
          | Wind-up 3

        a(href='https://freesound.org/people/timgormly/sounds/162804/', target='_blank').mb-1.text-light
          | Wind-up 4


    // Copyright
    .row
      .col-12
        p.mt-3.p-2.border-top.border-light.text-center.text-light
          | Designed &amp; coded by <a href="https://github.com/sn4il/" target="_blank">Andrey Malyarchuk</a>.
