.d-flex.justify-content-center.bg-primary.animated.slideInDown
  a.h4.mx-3.my-1(href='https://facebook.com/', target='_blank')
    i.fab.fa-facebook.d-block.text-white.animated.zoomIn.delay-1

  a.h4.mx-3.my-1(href='https://twitter.com/', target='_blank')
    i.fab.fa-twitter.d-block.text-white.animated.zoomIn.delay-2

  a.h4.mx-3.my-1(href='https://instagram.com/', target='_blank')
    i.fab.fa-instagram.d-block.text-white.animated.zoomIn.delay-3
